<div th:fragment="paginationbar">
	<ul class="pagination paginatorStyle">
		<li th:class="${page.firstPage}? 'disabled' : ''">
			<span th:if="${page.firstPage}">&larr; First</span>
			<a th:if="${not page.firstPage}" 
				th:attr="data-ng-click=${'page (0)'}">
				&larr; First
			</a>
		</li>
		<li th:class="${page.hasPreviousPage}? '' : 'disabled'">
			<span th:if="${not page.hasPreviousPage}">&laquo;</span>
			<a th:if="${page.hasPreviousPage}"
			
			th:attr="data-ng-click=${'page (' + (page.number-1) + ')'}" 
			title="page to previous page">
				&laquo;
			</a>
		</li>
		<li th:each="item : ${page.items}" th:class="${item.current}? 'active' : ''">
			<span th:if="${item.current}" th:text="${item.number}">1</span>
			<a 
				th:if="${not item.current}"
				th:attr="data-ng-click=${'page (' + (item.number - 1) + ')'}" 
				>
				<span th:text="${item.number}">1</span>
			</a>
		</li>
		<li th:class="${page.hasNextPage}? '' : 'disabled'">
			<span th:if="${not page.hasNextPage}">&raquo;</span>
			<a th:if="${page.hasNextPage}"
				th:attr="data-ng-click=${'page (' + (page.number) + ')'}" 
				title="page to next page">
				&raquo;
			</a>
		</li>
		<li th:class="${page.lastPage}? 'disabled' : ''">
			<span th:if="${page.lastPage}">Last &rarr;</span>
			<a th:if="${not page.lastPage}"
				th:attr="data-ng-click=${'page (' + (page.totalPages - 1) + ')'}"> 
				Last &rarr;
			</a>
		</li>
	</ul>

</div>


<!-- Bootstrap paginator for angular -->
<div th:fragment="clientpaginationbar">
	<ul class="pagination paginatorStyle">
		<li data-ng-class="page.firstPage ? 'disabled' : ''">
			<span data-ng-if="page.firstPage">&larr; First</span>
			<a data-ng-if="! page.firstPage" 
				data-ng-click="page (0)">
				&larr; First
			</a>
		</li>
		<li data-ng-class="page.hasPreviousPage? '' : 'disabled'">
			<span data-ng-if="! page.hasPreviousPage">&laquo;</span>
			<a data-ng-if="page.hasPreviousPage"
			
			data-ng-click="page (page.number-1)" 
			title="page to previous page">
				&laquo;
			</a>
		</li>
		<li data-ng-repeat="item in page.items" 
			data-ng-class="item.current? 'active' : ''">
			<span data-ng-if="item.current">{{item.number}}</span>
			<a 
				data-ng-if="! item.current"
				data-ng-click="page (item.number - 1)" 
				>
				<span>{{item.number}}</span>
			</a>
		</li>
		<li data-ng-class="page.hasNextPage? '' : 'disabled'">
			<span data-ng-if="! page.hasNextPage">&raquo;</span>
			<a data-ng-if="page.hasNextPage"
				data-ng-click="page (page.number + 1)" 
				title="page to next page">
				&raquo;
			</a>
		</li>
		<li data-ng-class="page.lastPage? 'disabled' : ''">
			<span data-ng-if="page.lastPage">Last &rarr;</span>
			<a data-ng-if="! page.lastPage"
				data-ng-click="page (page.totalPages - 1)"> 
				Last &rarr;
			</a>
		</li>
	</ul>
</div>
